[flake8]
max-line-length = 99
import-order-style = pep8
extend-ignore = D1
application-import-names =
    main,
    flow,
    tracer,
    decorators,
    process,
    models,
    evaluate,
    config,
